.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
doc
docs/
pkgdown
*.Rproj
# Ignore HTML files except in vignettes
*.html
!vignettes/*.html
*.utf8.md
.Rlib/

check/


Rplots.pdf
/doc/
/Meta/

# CRAN submission artifacts
CRAN-SUBMISSION
*.Rcheck
*.tar.gz
